datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_Temp_ProcessParamsUniqueIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_Temp_ProcessParamsUniqueIdentifiers">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e5cf-360e-8000-74a8-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e5cf-360e-8000-74a8-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds Temporary Cdt for ProcessParamsUniqueIdentifiers.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="process_id" nillable="true" type="xsd:int"/>
      <xsd:element name="run_config_id" nillable="true" type="xsd:int"/>
      <xsd:element name="process_param_pg_id" nillable="true" type="xsd:int"/>
      <xsd:element name="active_step" nillable="true" type="xsd:int"/>
      <xsd:element name="selected_card" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selected_entity_card" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
