datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_U_OutputConfigRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_U_OutputConfigRequest">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4f7-14da-8000-6315-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4f7-14da-8000-6315-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT to hold the Output Config Details which needs to be send to API]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requestId" nillable="true" type="xsd:int"/>
      <xsd:element name="processId" nillable="true" type="xsd:int"/>
      <xsd:element name="OutFileTypeConfigId" nillable="true" type="xsd:int"/>
      <xsd:element name="appianDocumentId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
