datatype/%7Burn%3Acom%3Aappian%3Atypes%7DALL_INVESTORS_SCHEDULE_A2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types"
  xmlns:tns="urn:com:appian:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ALL_INVESTORS_SCHEDULE_A2">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="450_ALL_INVESTORS_SCHEDULE_A2")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000ed5d-8cac-8000-20de-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000ed5d-8cac-8000-20de-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Custom Data Type for 450 Investors, for schedule A2]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="aInvestorControl" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="A_INVESTOR_CONTROL", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bInvestor" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="B_INVESTOR", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestid" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUESTID", nullable=false, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processid" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROCESSID", nullable=false, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="surrgtKey" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="SURRGT_KEY", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cEntity" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="C_ENTITY", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dInvestment" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="D_INVESTMENT", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eReturnOfCapital" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="E_RETURN_OF_CAPITAL", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fNetGain" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="F_NET_GAIN", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gNetCurrentIncome" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="G_NET_CURRENT_INCOME", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hPrincipal" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="H_PRINCIPAL", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="iInterest" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="I_INTEREST", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="jStateTaxWithholding" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="J_STATE_TAX_WITHHOLDING", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kCorporateTax" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="K_CORPORATE_TAX", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lForeignTax1441Withholding" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="L_FOREIGN_TAX_1441_WITHHOLDING", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mForeignTax1446Withholding" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="M_FOREIGN_TAX_1446_WITHHOLDING", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nFeederExpenseWithHolding" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="N_FEEDER_EXPENSE_WITH_HOLDING", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oUkWht" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="O_UK_WHT", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pTotalDistribution" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="P_TOTAL_DISTRIBUTION", columnDefinition="FLOAT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
