datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_PR_DYNAMIC_CONF_DETAIL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_PR_DYNAMIC_CONF_DETAIL">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_PR_DYNAMIC_CONF_DETAIL")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e55e-3fca-8000-6d07-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e55e-3fca-8000-6d07-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds Cdt for EAP_PR_DYNAMIC_CONF_DETAIL]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="eap_pr_dynamic_conf_detail_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="EAP_PR_DYNAMIC_CONF_DETAIL_ID", nullable=false, unique=true, columnDefinition="NUMBER") @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="eap_pr_dynamic_conf_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EAP_PR_DYNAMIC_CONF_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="EAP_PR_DYNAMIC_CONF_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="attribute_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ATTRIBUTE_NAME", nullable=false, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="attribute_value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ATTRIBUTE_VALUE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
