datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_TransformTrans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_TransformTrans">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4d3-6af6-8000-5b39-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4d3-6af6-8000-5b39-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT to hold the Transaction details for Transformation Transactions]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="transform_transaction_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="process_id" nillable="true" type="xsd:int"/>
      <xsd:element name="request_id" nillable="true" type="xsd:int"/>
      <xsd:element name="transform_status" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(nullable=false, length=50)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exception_code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=50)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exception_message" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=500)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requested_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(nullable=false, length=50)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requested_on" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="started_on" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="status_time" nillable="true" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
