datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_RefProcessInFileEntityMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_RefProcessInFileEntityMapping">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_PR_IN_FILE_ENTITY_MAPPING")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e55c-9174-8000-6cea-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4ce-ca23-8000-5979-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e4d7-c870-8000-5dd4-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e528-249d-8000-6afb-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e539-2707-8000-6bed-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e55c-9174-8000-6cea-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT for EAP_PROCESS_IN_FILE_ENTITY_MAPPING]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="in_file_entity_mapping_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="IN_FILE_ENTITY_MAPPING_ID", nullable=false, unique=true, columnDefinition="NUMBER") @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="process_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROCESS_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="PROCESS_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="in_file_type_config_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IN_FILE_TYPE_CONFIG_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="IN_FILE_TYPE_CONFIG_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entity_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY_NAME", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sheet_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SHEET_NAME", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sheet_index" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SHEET_INDEX", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="start_row" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="START_ROW", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="start_row_value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="START_ROW_VALUE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="end_row" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="END_ROW", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="end_row_value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="END_ROW_VALUE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parser_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PARSER_TYPE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_active" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sequence_order" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SEQUENCE_ORDER", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="named_range" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAMED_RANGE", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="include_fixed_copy" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="INCLUDE_FIXED_COPY", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parser_type_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PARSER_TYPE_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="PARSER_TYPE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_optional" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_OPTIONAL", nullable=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entity_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY_TYPE", nullable=true, columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="has_dynamic_configuration" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="HAS_DYNAMIC_CONFIGURATION", nullable=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
