datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_IntSysDepParam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_IntSysDepParam">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_INT_SYS_DEP_PARAM")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e526-cb0a-8000-6acc-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4cd-0b71-8000-584d-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e4df-956d-8000-609c-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e4e7-3a1d-8000-616b-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e526-cb0a-8000-6acc-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Contains CDT for int system dep parameters.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dependent_parameter_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @SequenceGenerator(name="EAP_INT_SYS_DEP_PARAM_SQ", sequenceName="EAP_INT_SYS_DEP_PARAM_SQ") @GeneratedValue(strategy=GenerationType.SEQUENCE, generator="EAP_INT_SYS_DEP_PARAM_SQ") @Column(name="DEPENDENT_PARAMETER_ID", nullable=false, unique=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="system_parameter_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SYSTEM_PARAMETER_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="SYSTEM_PARAMETER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameter_label" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PARAMETER_LABEL", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameter_code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PARAMETER_CODE", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameter_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PARAMETER_TYPE", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="master_refdata_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MASTER_REF_DATATYPE", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="default_value_expression" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DEFAULT_VALUE_EXPRESSION", columnDefinition="VARCHAR2(200)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="calculated_value_expression" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CALCULATED_VALUE_EXPRESSION", columnDefinition="VARCHAR2(200)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validation_expression" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="VALIDATION_EXPRESSION", columnDefinition="VARCHAR2(200)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="min_length" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MIN_LENGTH", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="max_length" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MAX_LENGTH", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_required" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_REQUIRED", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_read_only" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_READ_ONLY", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_active" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_ON", nullable=false, columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="generation_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GENERATION_TYPE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
