datatype/%7Burn%3Acom%3Aappian%3Atypes%3AEAP%7DEAP_U_ManualUploadAttachmentData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:EAP"
  xmlns:tns="urn:com:appian:types:EAP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_U_ManualUploadAttachmentData">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e5eb-1b84-8000-758f-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4d3-66ed-8000-5b33-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0001e529-323e-8000-6b2d-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0001e5eb-1b84-8000-758f-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT to hold the data of manual upload]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requestId" nillable="true" type="xsd:int"/>
      <xsd:element name="configId" nillable="true" type="xsd:int"/>
      <xsd:element name="processTransId" nillable="true" type="xsd:int"/>
      <xsd:element name="appianDocumentId" nillable="true" type="xsd:int"/>
      <xsd:element name="documentName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isOptional" nillable="true" type="xsd:boolean"/>
      <xsd:element name="usePriorData" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
