datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_temp_HistoricalDataFrequency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_temp_HistoricalDataFrequency">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e57e-0135-8000-6ffb-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e57e-0135-8000-6ffb-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Hold cdt for holding frequncy]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="frequency" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="month" nillable="true" type="xsd:int"/>
      <xsd:element name="year" nillable="true" type="xsd:int"/>
      <xsd:element name="requenstId" nillable="true" type="xsd:int"/>
      <xsd:element name="processId" nillable="true" type="xsd:int"/>
      <xsd:element name="daily" nillable="true" type="xsd:date"/>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="monthYear" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="runConfigId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
