datatype/%7Burn%3Acom%3Aappian%3Atypes%3AEAP%7DEAP_T_ProcessIntTrans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:EAP"
  xmlns:tns="urn:com:appian:types:EAP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_ProcessIntTrans">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_INT_TRANS")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e562-04d6-8000-6d1d-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4cf-9b09-8000-5984-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e528-0f72-8000-6af1-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e520-5801-8000-4406-a74d98a74d98"/>
            <ns2:historyInfo versionUuid="0000e538-f5fe-8000-6be2-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e539-1065-8000-6be5-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e562-04d6-8000-6d1d-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT holds table "EAP_INT_TRANS" and its columns]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="transactionId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="TRANSACTION_ID", nullable=false, unique=true, columnDefinition="NUMBER") @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="systemTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SYSTEM_TYPE_CODE", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CONFIG_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="CONFIG_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tranStatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TRAN_STATUS", nullable=false, columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tranReference" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TRAN_REFERENCE", columnDefinition="VARCHAR2(30)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="referenceId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REFERENCE_ID", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usePriorData" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USE_PRIOR_DATA", nullable=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="errorCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ERROR_CODE", columnDefinition="VARCHAR2(20)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="errorMessage" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ERROR_MESSAGE", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestMessage" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_MESSAGE", columnDefinition="VARCHAR2(4000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="responseMessage" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RESPONSE_MESSAGE", columnDefinition="VARCHAR2(4000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="startedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STARTED_BY", nullable=true, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="startedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STARTED_ON", nullable=true, columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="updatedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UPDATED_BY", nullable=true, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="updatedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UPDATED_ON", nullable=true, columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
