datatype/%7Burn%3Acom%3Aappian%3Atypes%3AEAP%7DEAP_V_AllTablesColumns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:EAP"
  xmlns:tns="urn:com:appian:types:EAP" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_V_AllTablesColumns">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_VIEW_ALLTABLESCOLUMNS")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000ea24-72f3-8000-fd01-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4cc-fee0-8000-5814-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000ea24-72f3-8000-fd01-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Contains view of all columns]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="ID", columnDefinition="BIGINT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tableName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TABLE_NAME", nullable=false, columnDefinition="VARCHAR2(128)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="columnName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COLUMN_NAME", nullable=false, columnDefinition="VARCHAR2(128)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
