datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_ProcessEscalationRecipient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_ProcessEscalationRecipient">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_PROCESS_ESCALATION_RECIPIENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e51e-e6ab-8000-69de-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e51e-e6ab-8000-69de-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Hold cdt for table EAP_PROCESS_ESCALATION_RECIPIENT]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="process_escalation_recipient_id"
        nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="PROCESS_ESCALATION_RECIPIENT_ID", unique=true, columnDefinition="NUMBER") @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="process_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROCESS_ID", columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="escalation_type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ESCALATION_TYPE", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="soe_id" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SOE_ID", columnDefinition="VARCHAR2(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recipient_group" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECIPIENT_GROUP", columnDefinition="VARCHAR2(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recipient" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECIPIENT", columnDefinition="VARCHAR2(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_active" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
