datatype/%7Burn%3Acom%3Aappian%3Atypes%7DHU6_F31_TGT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types"
  xmlns:tns="urn:com:appian:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="HU6_F31_TGT">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="HU6_F31_TGT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000ea25-6dd7-8000-fd72-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4ca-4785-8000-56c6-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000ea25-6dd7-8000-fd72-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="surrgt_key" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @SequenceGenerator(name="HU6_F31_TGT_SQ", sequenceName="HU6_F31_TGT_SQ") @GeneratedValue(strategy=GenerationType.SEQUENCE, generator="HU6_F31_TGT_SQ") @Column(name="SURRGT_KEY", nullable=false, unique=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="process_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROCESS_ID", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="request_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="load_timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LOAD_TIMESTAMP", nullable=false, columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="account_number" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACCOUNT_NUMBER", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flex_value_date" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FLEX_VALUE_DATE", columnDefinition="DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customer_reference" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_REFERENCE", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entry_sign" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTRY_SIGN", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="currency_code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CURRENCY_CODE", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AMOUNT", columnDefinition="DECIMAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flex_txn_code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FLEX_TXN_CODE", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flexFcyRate" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FLEX_FCY_RATE", columnDefinition="DECIMAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lcyAmount" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LCY_AMOUNT", columnDefinition="DECIMAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transaction_ouc" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TRANSACTION_OUC", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="related_customer_number" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RELATED_CUSTOMER_NUMBER", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="expense_ouc" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EXPENSE_OUC", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flex_addl_text" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FLEX_ADDL_TEXT", columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
