datatype/%7Burn%3Acom%3Aappian%3Atypes%3Aeap%7DEAP_T_GtFixedCellsFilters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:eap"
  xmlns:tns="urn:com:appian:types:eap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="EAP_T_GtFixedCellsFilters">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="EAP_GT_FIXED_CELLS_FILTERS")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e50a-00bf-8000-66f9-1b4d981b4d98</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4e0-e449-8000-60f8-1b4d981b4d98"/>
            <ns2:historyInfo versionUuid="0000e50a-00bf-8000-66f9-1b4d981b4d98"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT for Gt Fixed Cell Fillters]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gt_out_fixed_cell_filter_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="GT_OUT_FIXED_CELL_FILTER_ID", nullable=false, unique=true, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="process_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PROCESS_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="PROCESS_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="out_file_entity_mapping_id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GT_OUT_FIXED_CELL_CONFIG_ID", nullable=false, columnDefinition="NUMBER") @JoinColumn(name="OUT_FILE_ENTITY_MAPPING_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entity_filter_column_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY_FILTER_COLUMN_NAME", nullable=false, columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="filter_generation" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FILTER_GENERATION", nullable=false, columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="filter_operator" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FILTER_OPERATOR", nullable=false, columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="filter_value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FILTER_VALUE", nullable=false, columnDefinition="VARCHAR2(100)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="is_active" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", nullable=false, columnDefinition="NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false, columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="created_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_ON", nullable=false, columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_by" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", columnDefinition="VARCHAR2(50)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified_on" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_ON", columnDefinition="TIMESTAMP(6)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
